* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p, h3 {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color:#eeeeee;
}

header {
    font-family: sans-serif;
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    border-bottom: none;
}

header .left .logo {
    color: #2e7d32;

}

header .user {
    font-weight: bold;
}

nav {
    background-color: #2e7d32;
    text-align: right;
    height: 50px;
    margin: 0;
    padding: 0;
    border-top: none;
}

nav ul {
    vertical-align: middle;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

nav ul li:hover {
    background-color: rgb(2, 227, 134);
}

nav ul li a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}


.berita {
    text-align: left;
    margin: 50px auto 200px auto;
    /* max-width: 1200px; */
}

.berita h2 {
    font-family: sans-serif;
    color: #2e7d32;
    margin-bottom: 20px;
    text-align: center;
}

.berita-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 15px;
    column-gap: 27px;
}

.berita-box {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    width: 350px;
}

.berita-box:hover {
    transform: translateY(-10px);
}

.berita-box h3 {
    color: #2e7d32;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
}

.berita-box p {
    font-size: 14px;
    color: #333;
    text-align: left;
}

footer {
    font-family: sans-serif;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2e7d32;
    color: white;
}

